@model IEnumerable<Movie>

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Album example</h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
        <p>
            <a href="#" class="btn btn-primary my-2">Main call to action</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">

            @foreach (var movie in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        @*<img src="~/img/@movie.Image" style="width:260px; height:200px" />*@
                        <svg class=" card bd-placeholder-img card-img-top" width="100%" height="100%" xmlns="@movie.Image" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>@movie.Name</title><img src="~/img/@movie.Image" width="100%" height="100%" style="border-radius:10px; padding:5px" />@*<rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">@movie.Name</text>*@</svg>
                        <div class="card-body">
                            <p class="card-text">@movie.Name</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
            }



        </div>
    </div>
</div>